@model List<RecruitmentProcessManagement.Models.Candidate>

<h2>Candidate List</h2>

<a href="@Url.Action("Create")" class="btn btn-success">Add New Candidate</a>

@* <table class="table table-bordered mt-3"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th>Name</th> *@
@*             <th>Email</th> *@
@*             <th>Phone Number</th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var candidate in Model) *@
@*         { *@
@*             <tr> *@
@*                 <td>@skill.SkillID</td> *@
@*                 <td>@skill.SkillName</td> *@
@*                 <td> *@
@*                     <a href="@Url.Action("Edit", new { id = skill.SkillID })" class="btn btn-warning">Edit</a> *@
@*                     <a href="@Url.Action("Delete", new { id = skill.SkillID })" class="btn btn-danger">Delete</a> *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@